Solución2/XML Schema/LMSGI-E08-Quiditch-Sol2-XMLSchema1-matriuska.xsd

<?xml version = "1.0" encoding = "UTF-8" standalone = "yes"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema" elementFormDefault = "qualified">

	<!-- Documentación del vocabulario -->

	<xs:annotation>
		<xs:documentation xml:lang= "es-es">
			<fichero>LMSGI-E08_Quiditch-Sol2-XMLSchema1-matriuska.xsd</fichero>

			<fechaCreacion> 2012</fechaCreacion>
			<autor> Ana Polo Arozamena</autor>
			<utilidad>Ejemplo de XML Schema utilizando el método matriuska</utilidad>
			<funcionalidad>
				Vocabulario de codificacion de un documento de gestión de un partido de quidicth.
				En el mundo mágico el principal deporte es el Quiditch, que se desarrolla mientras 14 jugadores, 
				7 de cada equipo, vuelan en escobas al tiempo que esquivan las bludgers ( tipo de pelota hechizada
				que persigue a los jugadores de forma indiscriminada ). En cada equipo hay siete jugadores:
				•	Tres son cazadores, su cometido es lanzar la quaffle ( pelota especial ) e intentar que entre
				por uno de los aros de gol. Obtienen diez puntos cada vez que la quaffle pasa por un aro.
				•	El guardián, vuela alrededor de los aros de gol y detiene los lanzamientos del otro equipo.
				•	Dos golpeadores, cuyo trabajo es proteger a su equipo de las bludgers y desviarlas hacia el equipo contrario.
				•	El buscador, vuela entre cazadores, golpeadores, la quaffle y las bludgers, intentando atrapar la snitch
				dorada ( una pelota pequeña con alas que vuela muy rápido y es difícil de coger, ya que está hechizada para
				no dejarse atrapar ) antes de que la coja el otro buscador, porque cada vez que un buscador la atrapa, su
				equipo gana ciento cincuenta puntos extra.
				Un partido de quidditch sólo termina cuando se atrapa la snitch, así que puede durar muchísimo ( el record
				son 3 meses 2 días y 3minutos ).
				El colegio de magia y hechicería Hogwarts celebra todos los cursos un campeonato de Quidditch entre las
				cuatro casas del colegio, Gryffinfor, Ravenclaw, Hufflepuff y Slytherin. Los cuatro equipos compiten
				entre sí para luchar por la Copa del colegio.
				Para agilizar la gestión de los datos del campeonato, Albus Dumbledor, director del colegio de magia y
				hechicería Hogwarts, ha contratado a los mejores especialistas en lenguajes de marcas, los alumnos muggles
				del 1er curso de ASIR del IES Alisal, para hacer una aplicación xml que se encargue del trabajo. Se comenzará
				el trabajo haciendo un DTD para poder validar los documentos XML con la información sobre cada uno de los partidos que tienen lugar.

				Estos ficheros XML han de contener la siguiente información sobre el partido:
				•	Equipos que lo juegan. ( Sólo pueden ser los equipos de las casas de Hogwarts ).
				•	Fecha del encuentro.
				•	Duración del mismo.
				•	Ganador. ( Su valor será el nombre del equipo ganador ).
				•	Arbitro. Pueden ser la profesora. Hooch o el profesor Snape.
				•	Código de identificación del partido. Está formado por las iniciales de los equipos contrincantes, 
				en mayúsculas, seguidas de un guión y cuatro cifras que representan el año del partido.

				Sobre cada equipo se guardará la siguiente información:
				•	Nombre.
				•	Agrupar los jugadores que ocupan cada uno de los puestos. Hay que guardar, si es el caso, los goles que
				ha metido cada uno de los cazadores, las paradas del guardián y si el buscador ha capturado o no la snicht dorada.
				•	Puntos conseguidos.
				•	Código que lo identifica, se formará por las 3 primeras letras del nombre, en minúsculas, seguido de tres cifras.

				La información que queremos guardar de cada uno de los jugadores es:
				•	Nombre.
				•	Número de faltas cometidas, si las hay.
				•	Código identificador, que coincide con el expediente académico. Está compuesto de 8 Caracteres alfanuméricos.
				•	Número de cursos que lleva formando parte del equipo.
			</funcionalidad>
		</xs:documentation>
	</xs:annotation>

	<!-- Definición del vocabulario -->

	<xs:element name = "campeonato">
		<xs:complexType>
			<xs:sequence>

				<xs:element maxOccurs = "unbounded" name = "partido">
					<xs:complexType>
						<xs:sequence>

							<!-- Definición de equipo -->

							<xs:element maxOccurs = "2" minOccurs = "2" name = "equipo">
								<xs:complexType>
									<xs:sequence>
										
										<!-- Definicion de nombre -->
										
										<xs:element name = "nombre">
											<xs:simpleType>
												<xs:restriction base = "xs:string">
													<xs:enumeration value = "GRIFFINDOR" />
													<xs:enumeration value = "SLYTHERING" />
													<xs:enumeration value = "HUFFLEPUFF" />
													<xs:enumeration value = "RAVENCLAW" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
							
										<!-- Fin de nombre-->

										<!-- Definición de jugadores -->
										
										<xs:element name = "jugadores">
											<xs:complexType>
												<xs:sequence>

													<!-- Definición de jugador -->

													<xs:element minOccurs = "7" maxOccurs = "7" name = "jugador">
														<xs:complexType>
															<xs:sequence>
																
																<!-- Definición de nombre. tiene la restricción de que solo pueden ser letras y espacios,
																 comenzando por mayúscula -->
																
																<xs:element name = "nombre" >
																	<xs:simpleType>
																		<xs:restriction base = "xs:string" >
																			<xs:pattern value = "([A-Z]\w+ ?)(\w+ ?)+" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																
																<!-- Fin nombre -->
																
																<xs:element name = "numeroFaltas" type = "xs:nonNegativeInteger" />
																<xs:element name = "numeroCursos" type = "xs:positiveInteger" />
																<xs:element name = "puesto" >
																	<xs:complexType>
																		<xs:sequence>
																			
																			<!-- Definición de descripción -->
																			
																			<xs:element name = "descripcion">
																				<xs:simpleType>
																					<xs:restriction base = "xs:string">
																						<xs:enumeration value = "cazador" />
																						<xs:enumeration value = "golpeador" />
																						<xs:enumeration value = "guardian" />
																						<xs:enumeration value = "buscador"	/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			
																			<!-- Fin descripción -->
																			
																			<!-- Se definen los elementos que han de utilizarse e función del puesto
																			que ocupa el jugador. Para ello se hace un bloque de selección 
																			en lugar de una secuencia-->
	
																			<xs:choice>
																				<xs:element name = "goles" type = "xs:nonNegativeInteger" />
																				<xs:element name = "paradas" type = "xs:nonNegativeInteger" />
																				<xs:element name = "snicth" type = "xs:boolean" />	
																			</xs:choice>
																			
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>

															<!-- codigo de jugador formado por 8 dígitos -->

															<xs:attribute name = "codigoJugador" use = "required">
																<xs:simpleType>
																	<xs:restriction base = "xs:string">
																		<xs:pattern value = "(\d){8}" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>

															<!-- Fin de la definición del código de jugador -->

														</xs:complexType>
													</xs:element>

													<!-- Fin de jugador -->
													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
							
										<!-- Fin de jugadores -->
									
									</xs:sequence>

									<!-- Definición del atributo que identifica el equipo. Es OBLIGATORIO y está formado por las tres primeras letras del 
										nombre de la casa, en minúsculas( gri, huf, rav o sly ), seguido de tres cifras. -->

									<xs:attribute name = "codigoEquipo" use= "required" >
										<xs:simpleType>
											<xs:restriction base = "xs:string">
												<xs:pattern value = "(gri|sly|huf|rav)(\d){3}" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>

									<!-- Fin del código de equipo -->

								</xs:complexType>
							</xs:element>

							<!-- Fin de equipo -->

							<xs:element name = "fechaEncuentro" type = "xs:dateTime" />

							<xs:element name = "duracion" type = "xs:duration" />

							<xs:element minOccurs = "0" name = "ganador">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
										<xs:enumeration value = "GRIFFINDOR" />
										<xs:enumeration value = "SLYTHERING" />
										<xs:enumeration value = "HUFFLEPUFF" />
										<xs:enumeration value = "RAVENCLAW" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>


							<!-- Definición de arbitro -->

							<xs:element name = "arbitro">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
										<xs:enumeration value = "HOOCH" />
										<xs:enumeration value = "SNAPE" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>

							<!-- Fin de arbitro -->

						</xs:sequence>

						<!-- Definición del atributo que identifica el partido. Es OBLIGATORIO y está formado por las iniciales de los equipos contrincantes, en mayúsculas, 
		seguidas de un guión y cuatro cifras que representan el año del partido. -->

						<xs:attribute name = "codigoPartido" use= "required" >
							<xs:simpleType>
								<xs:restriction base = "xs:string">
									<xs:pattern value = "(G|S|H|R){2}-20(\d){2}" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>

						<!-- Fin del código de equipo -->

					</xs:complexType>
				</xs:element>

				<!-- Fin de partido -->
			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Fin del campeonato -->
	
</xs:schema>
